body{
    display: flex;
    flex-flow: column nowrap;
    min-height: 100vh;
}
.main{
    flex: 1;
}

footer{
    text-align: center;
}

.klub-badge{
    width: 50px;
}

.klub-badge[src=""]{
    display: none;

}
